.true{
    background-color:#47d1d1;
    text-decoration: line-through;
    }
tbody{
    font-family: 'Orbitron', sans-serif;
}
.false{
    background-color: #c299ff;
    
}
#addToList{
    height: 30px;
    width: 80px;
    border-radius: 7px;
    border-color: #3d658f;
    color: #fff;
    box-shadow: 0 0 40px 40px #3d658f inset, 0 0 0 0 #3d658f;
    transition: all 150ms ease-in-out;
}
#addToList:hover{
    box-shadow: 0 0 10px 0 #3d658f inset, 0 0 10px 4px #3d658f;
}
#toDoTask{
    width: 200px;
}

#addToList{
    width: 100px;
}

#inputDiv{
    display: flex;
}
h1{
    font-family: 'Copperplate', sans-serif;
    font-size: 35px;
}
h1:hover{
    color: red;
}
body{
    font-family: 'Anton', sans-serif;
}
.deleteButton{
        height: 30px;
        width: 80px;
        border-radius: 7px;
        border-color: #3d658f;
        color: #fff;
        box-shadow: 0 0 40px 40px #3d658f inset, 0 0 0 0 #3d658f;
        transition: all 150ms ease-in-out;
}
.deleteButton:hover {
    box-shadow: 0 0 10px 0 #3d658f inset, 0 0 10px 4px #3d658f;
}
input[type=checkbox]{
    height: 25px;
    width:25px;
}

td{
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    opacity: .6;
    
}

#container {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    height: 70%;
    background: rgba(255,255,255, 0.7);
    border-radius:20px;
    
}